$yellow: #ffd32a;
$red:#b71540;
$green:#6ab04c;
$purple: #3B3B98;
$footer-link: #4834d4;
$footer-info: #130f40;
$editar-color: #574b90;
$borrar-color: #eb3b5a;

@mixin estilo-buttons($bg-color, $fcolor, $bcolor, $ptop, $mbot){
    background-color: $bg-color;
    color: $fcolor;
    border-color: $bcolor;
    padding-top: $ptop;
    margin-bottom: $mbot;
}

.jumbotron{
	background-color: $yellow;
	color: $purple;
}

.navbar-red{
    background-color: $red;
}

.bg-white{
	background-color: white;
}

.border-purple{
	border-color: #3B3B98;
}

.text-purple{
	color: #3B3B98;
}

.icono-grande{
	font-size: 30px;
}
	
.btn-mostraar:hover{
	background-color: white;
	color: #6D214F;
	border-color: #6D214F;
	border-width: 2px;
}

.btn-mostraar{
	background-color:#6D214F;
	color: white;
	font-weight: bold;
}


.btn-editar:hover{
    @include estilo-buttons(white, $editar-color , $editar-color, 5px , 25px );
}

.btn-editar{
    @include estilo-buttons($editar-color, white , $editar-color, 5px , 25px );
}

.btn-editar-lg{
	font-size:30px;
}

.btn-borrar:hover{
    @include estilo-buttons(white, $borrar-color , $borrar-color, 5px , 25px );
}
.btn-borrar{
    @include estilo-buttons($borrar-color, white , $borrar-color, 5px , 25px );
}

footer{
	padding: 10px 10px 0 10px;
	background-color: $green;
	margin-bottom: 5px;
	margin-top: 10px;
	color:$footer-info;
}

footer a{
	color: $footer-link;
}

footer a:hover{
	color:white;	
}

.card-form{
	flex: 1 250px;	
	padding: 2px 5px 2px 5px;
	margin-top: 12px;
}

.card-nota{
	flex: 1 250px;	
	padding: 2px 5px 2px 5px;
	margin-top: 12px;
}

.btn-reserva {
	width: 100%;
	position: absolute;
	left: 0;
}

.footer-address-icon{
	padding-right: 10px;
	color: white;
}

.tab-content{
	padding-top: 10px;
}

.title-table{
	padding-bottom: 10px;
}

.img-nota{
	max-width:230px;
	max-height: 200px;
	margin-bottom: 5px;
}

.card-title2{
	color: #2c2c54;
}

.card-text2{
	color: #2c2c54;
}

.card-title3{
	color:#deeb27;
	font-size: 27px;
}

.card-text3{
	color:#deeb27;
	font-size: 24px;
}

.ml-10{
	margin-left: 110px;
	margin-top: 5px;
}

.ml-100{
	margin-left: 8%;
	margin-top: -16px;
}