.jumbotron {
    background-color: #ffd32a;
    color: #3b3b98;
}

.navbar-red {
    background-color: #b71540;
}

.bg-white {
    background-color: white;
}

.border-purple {
    border-color: #3B3B98;
}

.text-purple {
    color: #3B3B98;
}

.icono-grande {
    font-size: 30px;
}

.btn-mostraar:hover {
    background-color: white;
    color: #6D214F;
    border-color: #6D214F;
    border-width: 2px;
}

.btn-mostraar {
    background-color: #6D214F;
    color: white;
    font-weight: bold;
}

.btn-editar:hover {
    background-color: #ffffff;
    color: #574b90;
    border-color: #574b90;
    padding-top: 5px;
    margin-bottom: 25px;
}

.btn-editar {
    background-color: #574b90;
    color: #ffffff;
    border-color: #574b90;
    padding-top: 5px;
    margin-bottom: 25px;
}

.btn-editar-lg {
    font-size: 30px;
}

.btn-borrar:hover {
    background-color: #ffffff;
    color: #eb3b5a;
    border-color: #eb3b5a;
    padding-top: 5px;
    margin-bottom: 25px;
}

.btn-borrar {
    background-color: #eb3b5a;
    color: #ffffff;
    border-color: #eb3b5a;
    padding-top: 5px;
    margin-bottom: 25px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: #6ab04c;
    margin-bottom: 5px;
    margin-top: 10px;
    color: #130f40;
}

footer a {
    color: #4834d4;
}

footer a:hover {
    color: white;
}

.card-form {
    flex: 1 250px;
    padding: 2px 5px 2px 5px;
    margin-top: 12px;
}

.card-nota {
    flex: 1 250px;
    padding: 2px 5px 2px 5px;
    margin-top: 12px;
}

.btn-reserva {
    width: 100%;
    position: absolute;
    left: 0;
}

.footer-address-icon {
    padding-right: 10px;
    color: white;
}

.tab-content {
    padding-top: 10px;
}

.title-table {
    padding-bottom: 10px;
}

.img-nota {
    max-width: 230px;
    max-height: 200px;
    margin-bottom: 5px;
}

.card-title2 {
    color: #2c2c54;
}

.card-text2 {
    color: #2c2c54;
}

.card-title3 {
    color: #deeb27;
    font-size: 27px;
}

.card-text3 {
    color: #deeb27;
    font-size: 24px;
}

.ml-10 {
    margin-left: 110px;
    margin-top: 5px;
}

.ml-100 {
    margin-left: 8%;
    margin-top: -16px;
}